@charset "utf-8";
/******** Common ********/
#wrap { position:relative; width:100%; min-width:320px; margin:0 auto; overflow-x:hidden; }
#skipnavi li a {  display:block; font-size:1.6rem; width:100%; position:absolute; top:-10000px; left:0; text-align:center; z-index:999999; line-height:1; letter-spacing:0; }
#skipnavi li a:focus { position:absolute; top:0; left:0; font-weight:bold; color:#fff; background:#272727; padding:20px 0; line-height:1; }
.block { position:fixed; z-index:10; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.6; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity:0.6; }
/******** layout ********/
#headerWrap { position:fixed; width:100%; top:0; left:0; background-color:#fff; z-index:5; /*position:relative; width:100%; z-index:9;*/ }
.header { height:50px; margin-left:auto; margin-right:auto; z-index:9; }
.header h1 a { display:inline-block; height:24px; margin:14px 16px 12px; }
.header h1 img { width:auto; height:100%; }
.header h2 { font-size:1.8rem; line-height:5rem; font-weight:normal; }
.header h2 a { width:44px; height:50px; background:url("../images/common/ico_historyback.png") no-repeat 10px center; background-size:23px auto; text-indent:-9999px; }
.header h2 span { margin-left:4px; }
.header.sub-shadow { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
.menu-wrap { width:100%; position:absolute; top:0px; right:0px; z-index:10;}
.btn-menu { position:absolute !important; top:7px; right:7px; width:46px; height:38px; background:url("../images/common/btn_gnb.png") no-repeat 0 0; background-size:auto 100%; text-indent:-9999px; }
.sub-menu { height:40px; background:#495057; }
#contentsWrap { position:relative; width:100%; padding-top:50px; }
/*#contentsWrap.bg-cts { background:url("../images/common/bg_content.png") no-repeat right 0; background-size:75% auto; }*/
#contentsWrap .btn-top { position:absolute; right:10px; bottom:10px; background-color:#fff; z-index:10; }
.contents { position:relative; padding-top:20px; padding-bottom:60px; }
.sub-contents { position:relative; padding-top:30px; padding-bottom:86px; background:#f9f9f9; }
.default-wrap { width:100%; padding-left:16px; padding-right:16px; }
.hide { display:none !important; }


/******** footer ********/
#footerWrap { position:relative; width:100%; padding:20px 0; border-top:1px solid #ec008c; }
#footerWrap .counselor { display:table; width:100%; margin-bottom:20px; }
#footerWrap .counselor div { display:table-cell; vertical-align:middle; }
#footerWrap .counselor .thumb { display:block; overflow:hidden; width:50px; height:50px; background:url("../images/common/ico_woman.png") no-repeat 0 center; background-size:100%; border-radius:50%; }
#footerWrap .counselor .info { padding-left:10px; }
#footerWrap .counselor .info span { display:block; }
#footerWrap .counselor .info .name { font-size:1.3rem; line-height:1.4; letter-spacing:-0.8px; text-align:left; color:#351b6f; }
#footerWrap .counselor .info .phone { display:inline-block; position:relative; height:18px;font-size:1.8rem; line-height:1; text-align:left; color:#333; }
#footerWrap .counselor .info .phone:after { display:block; position:absolute; top:-1px; right:-20px; width:16px; height:18px; background:url("../images/common/ico_phone1.png") no-repeat 0 0; background-size:auto 100%; content:""; }
#footerWrap .counselor .info .time { font-size:1rem; line-height:1.27; letter-spacing:-0.5px; color:#626c74; }
#footerWrap .copyright { font-size:1rem; line-height:1.4; letter-spacing:-0.5px; color:#626c74; }
#footerWrap .related-site { margin-top:22px; text-align:right; }
#footerWrap .related-site select { width:100px; padding:0 25px 0 0; background:#fff; color:#495057; }
.family-site .select-wrap { border:none; width:auto; }
.family-site .select-wrap select { padding:10px 40px 10px 30px; background-color:transparent; background-image:url(../images/common/btn_familysite.png); border:none;  font-size:1.2rem; color:#333; } /* 180424 수정*/
.family-site button { width:26px; height:26px; margin-top:5px; line-height:2.6rem; border-radius:16px; background:#b3bbc0; color:#fff; text-indent:0; text-transform:uppercase; font-size:1.3rem; }


/******** layerpopup ********/
.layerpopup { position:absolute; display:none; overflow-y:auto; padding:64px 16px 40px; z-index:20; background:#fff; border-top:2px solid #EC008C; -webkit-overflow-scrolling:touch; }
.color-type2 .layerpopup { border-top:2px solid #351B6F; }
.layerpopup .btn-menu-close { position:absolute; top:17px; right:21px; z-index:25; width:30px; height:30px; background-image:url(../images/common/btn_close.png); background-repeat:no-repeat; background-size:100% auto; text-indent:-9999px; }
.layerpopup pre { font-family:"맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif; white-space:pre-wrap; word-break:keep-all; white-space:-moz-pre-wrap; white-space:-pre-wrap; white-space:-o-pre-wrap; word-wrap:break-word; }

.agree-cts.type1 * { font-size:1.4rem; color:#495057; line-height:1.8rem; letter-spacing:-1px; }
.agree-cts.type1 dt { margin-top:10px; padding-bottom:0; border-bottom:none; font-weight:normal; }
.agree-cts.type1 dd { margin-top:5px; padding:0; padding-left:13px; border-bottom:none; }
.agree-cts.type1 dd ul, .agree-cts.type1 dd ol { padding-left:10px; }
.agree-cts.type1 dd ul > li, .agree-cts.type1 dd ol > li { margin:5px 0; }
.agree-cts.type1 dd li p { padding-left:10px; }
.agree-cts.type1 .sub { padding-left:20px; }

.alert-layer { width:260px; padding:22px; border:8px solid #0087d4; text-align:center; z-index:40 !important; }
.alert-layer .tit { margin-bottom:20px; padding-bottom:10px; border-bottom:1px solid #ccc; font-size:2rem; color:#0087d4; }
.alert-layer .layer-con p{ line-height:2.2rem; }
.alert-layer .btn-wrap [class*='btn'] { margin:0 5px; }

.layerpopup2 { position:absolute; display:none; overflow-y:auto; width:91.25%;  z-index:22; background:#fff; border-top:2px solid #EC008C; -webkit-overflow-scrolling:touch; outline:none; }
.layerpopup2 .btn-menu-close { position:absolute; top:17px; right:21px; z-index:25; width:18px; height:18px; background-image:url(../../images/common/btn_close.png); background-repeat:no-repeat; background-size:100% auto; text-indent:-9999px; }
.layerpopup2 .btn-wrap button { margin:0; }
#bigPop { border:none; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.50); height: 80vh; background:#f6f6f6; }
#bigPop h2 { text-align: center; font-size: 1.8rem; line-height: 5rem; font-weight: normal; }
#bigPop .content-wrap { padding: 0; }
#bigPop .form-wrap .message.error { position:relative; }
.layerpopup2 .btn-menu-close { position: absolute; top: 10px; right: 10px; z-index: 25; width: 18px; height: 18px; background-image: url(../images/common/btn_close.png); background-repeat: no-repeat; background-size: 100% auto; text-indent: -9999px; }

/*#loadingLayer { position:fixed; overflow:hidden; text-align:center; width:259px; height:84px; top:50%; left:50%; z-index:99999; background-color:#fff; border:8px solid #0087D4; box-shadow:0 4px 8px 0 rgba(0,0,0,0.50); padding:19px 16px; }*/
#loadingLayer { position:fixed; overflow:hidden; text-align:center; width:85px; height:85px; top:50%; left:50%; z-index:99999; background-image:url(../images/common/loading_m.gif); background-size:100%;   }
#loadingLayer.type2 { background-image:url(../images/common/loading_w.gif);  }
/******** tabs ********/
.tab-wrap { position:relative; overflow:hidden; width:100%; }
.tab-wrap ul { overflow:hidden; width:100%; text-align:center; }
.tab-wrap li { position:relative; margin:0px 15px; display:inline-block; }
.tab-wrap li > a { display:block; position:relative; height:50px; line-height:5rem; font-size:1.8rem; color:#495057; }
.tab-wrap li.active a::after { position:absolute; content:""; width:100%; height:2px; bottom:0px; left:0px; background-color:#EC008C; }
.color-type2 .tab-wrap li.active a::after { background-color:#351B6F; }

/******** font ********/
.font32 { font-size:3.2rem; color:#495057; line-height:4rem; letter-spacing:-3px; }
.font30 { font-size:3rem; color:#612885; line-height:3.6rem; letter-spacing:-3px; }
.font26 { font-size:2.6rem; color:#333333; line-height:3.2rem; letter-spacing:-2px; }
.font24 { font-size:2.4rem; color:#333333; line-height:3rem; letter-spacing:-2px; }
.font20 { font-size:2rem; color:#495057; line-height:2.8rem; letter-spacing:-2px; }
.font18 { font-size:1.8rem; color:#495057; line-height:2.2rem; letter-spacing:-1.8px; }
.font16 { font-size:1.6rem; color:#333333; line-height:2rem; letter-spacing:-1px; }
.font14 { font-size:1.4rem; color:#495057; line-height:1.8rem; letter-spacing:-1px; }
.font13 { font-size:1.3rem; color:#626C74; line-height:1.7rem; letter-spacing:-0.7px; }
.font12 { font-size:1.2rem; color:#626C74; line-height:1.6rem; letter-spacing:-0.7px; }
.font11 { font-size:1.1rem; color:#626C74; line-height:1.4rem; letter-spacing:-0.5px; }

.underline { text-decoration:underline; }
div.indent01, p.indent01, ul.indent01 li { padding-left:30px; text-indent:-17px; }
div.indent02, p.indent02, ul.indent02 li { padding-left:10px; text-indent:-10px; }
div.indent03, p.indent03, ul.indent03 li { padding-left:20px; }
div.indent04, p.indent04, ul.indent04 li { padding-left:15px; text-indent:-17px; }


.color-333333 { color:#333333; }
.color-612885 { color:#612885; }
.color-495057 { color:#495057; }
.color-626C74 { color:#626C74; }
.color-007ABF { color:#007ABF; }
.color-351B6F { color:#351B6F; }
.color-0087D4 { color:#0087D4; }
.color-type2 .color-351B6F { color:#EC008C; }
.color-EC008C { color:#EC008C; }
.color-type2 .color-EC008C { color:#351B6F; }
.bg-EC008C { background-color:#EC008C; }
.color-type2 .bg-EC008C { background-color:#351B6F; }
.bg-351B6F { background-color:#351B6F; }
.color-type2 .bg-351B6F { background-color:#EC008C; }
/******** button ********/
.btn-wrap { width:100%; text-align:center; }
.btn-wrap span { margin:0 2px; }
.btn-wrap.full [class*="btn-"] { display:block; width:100%; }
[class*="btn-"] { position:relative; display:inline-block; letter-spacing:-1px; }
.btn-multi-wrap [class*="btn-"] { width: 100%;}
.btn-multi-wrap .btn-normal.form { padding:0 20px; }
.btn-normal { font-size:1.5rem; color:#495057; padding:15px 30px 11px; border:1px solid #495057; /*line-height:5.6rem; height:60px;*/ border-radius:30px; }
.btn-normal.form { font-size:1.4rem; padding:14px 30px 10px; /*line-height:4.2rem; height:44px;*/ }
.btn-normal.tiny { font-size:1.2rem; padding:6px 20px 2px; /*line-height:2rem; height:22px;*/ border-color:#b3bbc0; }
.btn-normal.wide { padding:14px 30px 11px; }
/*.btn-normal:hover,.btn-normal:focus, .btn-normal.done { background:#495057; color:#fff; border:1px solid #495057; }*/
.btn-normal.pink { border:none; background-color:#EC008C; color:#fff !important; }
/*.btn-normal.pink:hover, .btn-normal.pink:focus { opacity:.7; }*/
.btn-normal.gray { background-color:#626C74; color:#fff; }
/*.color-type2 .btn-normal:hover,.color-type2 .btn-normal:focus, .color-type2 .btn-normal.done { background:#495057; color:#fff; border:1px solid #495057; }*/
.color-type2 .btn-normal.done { /*color:#351B6F; border:1px solid #351B6F;*/ background:#495057; color:#fff; border:1px solid #495057; }
[class*="btn-normal"][class*="disable"] { color:#CCCCCC; border:1px solid #CCCCCC; }
.btn-link { font-size:1.8rem; padding-right:45px;  color:#007ABF; line-height:2.6rem; background-image:url(../images/common/ico_link_off.png); background-repeat:no-repeat; background-position:center right; }
/*.btn-link:hover, .btn-link:focus { opacity:.7; }*/
.btn-popup { font-size:1.2rem; border:1px solid #B3BBC0; border-radius:30px; color:#495057; height:30px; line-height:2.8rem; padding-left:13px; padding-right:74px;  background-image:url('../images/common/ico_linkpop.png'); background-repeat:no-repeat; background-position:center right 10px; background-color:rgba(255,255,255,.5); }
.btn-popup.has-bg { border:1px solid rgba(255,255,255,.5); }
.btn-big { height:70px; line-height:6.8rem; padding:0px 30px; font-size:1.8rem; color:#fff; border-radius:50px; background-color:#626C74; }
/*.btn-big:hover, .btn-big:focus { opacity:.7; }*/
.btn-big.pink { background-color:#EC008C; }
.color-type2 .btn-big.pink { background-color:#351B6F; }
.btn-circle { width:36px; height:36px; line-height:3.4rem; color:#495057; font-size:1.4rem; border:1px solid #495057; border-radius:30px; background-repeat:no-repeat; background-position:center; }
/*.btn-circle:hover, .btn-circle:focus { border:1px solid #EC008C; color:#EC008C; }*/
/*.color-type2 .btn-circle:hover, .color-type2 .btn-circle:focus { border:1px solid #351B6F; color:#351B6F; }*/
.btn-circle.top { background-image:url(../images/common/ico_top_off.png); }
/*.btn-circle.top:hover, .btn-circle.top:focus { background-image:url(../images/common/ico_top_on.png); }*/
.btn-circle.go { background-image:url(../images/common/ico_go_off.png); }
/*.btn-circle.go:hover, .btn-circle.go:focus { background-image:url(../images/common/ico_go_on.png); }*/
.btn-circle.prev { background-image:url(../images/common/ico_prev_off.png); }
/*.btn-circle.prev:hover, .btn-circle.prev:focus { background-image:url(../images/common/ico_prev_on.png); }*/
.btn-circle.next { background-image:url(../images/common/ico_next_off.png); }
/*.btn-circle.next:hover, .btn-circle.next:focus { background-image:url(../images/common/ico_next_on.png); }*/
.btn-circle.close { background-image:url(../images/common/ico_close_off.png); }
/*.btn-circle.close:hover, .btn-circle.close:focus { background-image:url(../images/common/ico_close_on.png); }*/

.btn-circle.refresh { background-image:url(../images/common/ico_refresh.png); background-color:#626C74; background-size:28px auto; }
.btn-circle.big { width:44px; height:44px; line-height:4.6rem; border:none; }
/*.btn-circle.nb, .btn-circle.nb:hover, .btn-circle.nb:focus, .btn-circle.indext,.btn-circle.nb:hover,.btn-circle.nb:focus { border:none; }*/
.btn-circle.nb, .btn-circle.indext { border:none; }

/******** form ********/
.form-wrap { position:relative; }
.form-wrap .input-tit { display:block; margin-bottom:5px; }
.form-wrap .unit-txt { color:#495057; font-size:1.6rem; right:0px; top:22px; position:absolute; line-height:4.3rem; padding:0px 14px; }
.form-wrap input { width:100%; height:44px; /*line-height:4.2rem;*/ padding:19px 11px 21px; color:#000000; letter-spacing:-1px; }
.form-wrap .message { margin-top:5px; }
.form-wrap .message.error { color:#007ABF; }
.form-wrap .message.help { color:#626C74; }
.form-wrap .radio, .radio, .form-wrap .check, .check { color:#495057; font-size:1.4rem; }
.form-wrap .radio { margin-right:45px; }
textarea { overflow-y:auto; color:#495057; font-size:1.6rem; }
.select-wrap select { background-image:url(../images/common/bg_select_arrow_up.png); background-position:right 10px center; border:1px solid #B3BBC0; letter-spacing:-1px; }

/******** table ********/
.table.type1 tr th { padding:11px 11px 11px 20px; text-align:left; color:#626C74; font-size:1.2rem; background-color:transparent; }
.table.type1 tr td { padding:11px 11px 11px 20px; text-align:left; font-weight:normal; line-height:1.6rem; color:#626C74; font-size:1.2rem; border-bottom:1px solid #CCCCCC; background-color:#fff; vertical-align:top; }
.table.type1 tr td a { color:#626C74; }
.table.type1 tr:first-child td { border-top:1px solid #495057; }
.table.type1 tbody tr th { border-bottom:1px solid #CCCCCC; }
.table.type1 tbody tr:first-child th { border-top:1px solid #495057; }
.table.type1.wide tr td { padding:20px 11px 20px 20px; }

.table.no-bg tbody td { background: none;}

/******** title ********/
h3.tit { position:relative; padding:8px 0px 14px; font-weight:normal; color:#333333; font-size:2rem; line-height:2.8rem; letter-spacing:-2px; }
h3.tit::before { position:absolute; content:""; width:28px; height:2px; background-color:#EC008C; left:0px; top:0px; }
.color-type2 h3.tit::before { background-color:#351B6F; }
.list-tit { position:relative; padding-left:24px; color:#333333; font-size:1.8rem; background-repeat:no-repeat; background-position:left center; background-image:url(../images/common/ico_list_tit.png); background-size:20px auto; }
.color-type2 .list-tit { background-image:url(../images/common/ico_list_tit2.png); }

/******** list ********/
.list.type1 { padding-left:5px; }
.list.type1 li { position:relative; padding:0 10px; color:#495057; font-size:1.4rem; line-height:2.2rem; margin-top:15px; }
.list.type1 li:first-child { margin-top:0; }
.list.type1 li:before { position:absolute; left:0px; top:-3px; content:"•"; }
.list.type1 li > span { display:block; font-weight:bold; }
.list.type1 li .bar { position:relative; padding-right:10px; margin-right:10px; }
.list.type1 li .bar:after { content:""; width:1px; height:10px; position:absolute; right:0; top:7px; background-color:#B3BBC0; }

/******** pagination ********/
.pagination-wrap { text-align:center; }
.pagination { display:inline-block; }
.pagination > a { float:left; }
.pagination ul { float:left; margin:0px 10px; }
.pagination ul li { float:left; }
.pagination a { width:36px; height:36px; line-height:3.6rem; }
.pagination a.active { border:1px solid #495057; }
/*.pagination a.active:hover,.pagination a.active:focus { border:1px solid #EC008C; }*/
.pagination a.prev { background-image:url(../images/common/ico_big_prev_off.png); }
/*.pagination a.prev:hover,.pagination a.prev:focus { background-image:url(../images/common/ico_big_prev_on.png); }*/
.pagination a.next { background-image:url(../images/common/ico_big_next_off.png); }
/*.pagination a.next:hover,.pagination a.next:focus { background-image:url(../images/common/ico_big_next_on.png); }*/

/******** animation ********/
/*bg animation*/
.bg1 { position:absolute; top:-110px; right:0px; }
/*.bg2 { position:absolute; top:500px; left:0px; }*/
#motion1 { display:inline-block; width:554px; height:889px; margin-top:-100px; }
#motion2 { display:inline-block;  width:300px; height:310px; }
#motion1 rect,#motion2 rect {
 -webkit-transform-origin: 50% 50%;
 transform-origin: 50% 50%;
}
.bg-blobs {
 -webkit-filter: url("#goo");
 filter: url("#goo");
}
.bg-blob {
	fill: white;
}

/******** menu ********/
#menuRight { position:fixed; overflow-y:auto; width:90%; height:100%; min-width:280px; background:#fff; top:0; right:-90%; z-index:15; -webkit-transition:right .3s ease; -moz-transition:right .3s ease; transition:right .3s ease; }
#wrap.open #menuRight { right: 0; -webkit-transition: right .3s ease; -moz-transition: right .2s ease; transition: right .3s ease; -webkit-overflow-scrolling:touch; }
#menuRight .topmenu a { display: inline-block; min-width: 58px; padding-top: 62px; background-size:100% auto; background-repeat:no-repeat; font-size:1.2rem; text-align: center; color: #fff; }
#menuRight .topmenu a + a { margin-left:10px; }
#menuRight .topmenu .menu1 { background-image:url(../images/common/ico_home.png); }
#menuRight .topmenu .menu2 { background-image:url(../images/common/ico_introduce.png);}
#menuRight .topmenu .menu3 { background-image:url(../images/common/ico_loan.png); }
#menuRight .menu-close { position: absolute; top: 10px; right: 10px; width:25px; height:25px; background:url(../images/common/btn_closeW.png) no-repeat 0 0; background-size:25px auto; text-indent:-9999px;}
#menuRight .menu-header { height: 100px; padding: 12px 17px; background:#ec008c; }
#menuRight .depth1 > a { display:block; position:relative; padding:17px 20px; border-bottom:1px solid #ccc; font-size:1.8rem; letter-spacing:-2px; }
#menuRight .depth1.insub > a:after { display:inline-block; content:''; position:absolute; top:50%; right:20px; width:16px; height:11px; margin-top:-5px; background:url(../images/common/bg_select_arrow_up.png) no-repeat 0 0; background-size:100%; }
#menuRight .depth1 > a.active { background:#f9f9f9; border-bottom:none; }
#menuRight .depth1 > a.active:after { -webkit-transform: rotate(180deg);  transform: rotate(180deg);}
#menuRight .depth2-wrap { display: none; padding:0 22px 22px; background:#f9f9f9; border-bottom:1px solid #ccc; }
#menuRight .depth2 a:before { display:inline-block; content:''; width:4px; height:4px; margin-right:8px; background:#b3bbc0; }
#menuRight .depth2 li > a { display:block; padding:5px 0; font-size:1.6rem; line-height:2rem; letter-spacing:-1px; }
#menuRight .nav-noti { padding:30px 40px 20px; }
#menuRight .nav-noti img { max-width:300px;}

/******** sub-menu ********/
.sub-menu { padding: 0 8px !important;}
.sub-menu a { padding:11px 0 3px; text-align:center; color:#fff; }
.swiper-slide { width: auto !important;}
.swiper-slide.active { border-bottom:4px solid #0087d4; }

/*display*/
.d-block { display:block; }
.d-inline-block { display:inline-block; }
.d-inline { display:inline; }

/* column */
.column-wrap:after { display:block; content:""; clear:both; }
.column-wrap .column { position:relative; float:left; }
.column-wrap .column2-sel .column { width:calc(50% - 3px); }
.column-wrap .column2-sel .column:nth-child(even) { margin-left:6px; }
.column-wrap .hyphen { text-align:center; line-height:4.4rem; }
.column-wrap .column2-hp .column { width:calc(50% - 10px); }
.column-wrap .column2-hp .hyphen { width:20px; }
.column-wrap .column3-hp .column { width:calc(33.333% - 10px); }
.column-wrap .column3-hp .column .select-wrap { top:-2px; }
.column-wrap .column3-hp .hyphen { width:15px; }
.column-wrap .column3-hp select { padding:8px 12px 9px 12px; }



/******* color-change *******/
/* layout */
body.color-type2 .btn-big.pink { background-color:#351b6f; }
body.color-type2 .btn-normal.pink { background-color:#351b6f; }
body.color-type2 .btn-menu { background-image:url("../images/common/btn_gnb2.png"); }
/*body.color-type2 .btn-normal:hover,.btn-normal:focus { color:#351b6f; border:1px solid #351b6f; }*/

body.color-type2 h3.tit::before { background-color:#351b6f; }
body.color-type2 .list-tit { background-image:url("../images/common/ico_list_tit2.png");}
body.color-type2 .layerpopup { border-top:2px solid #351b6f; }

body.color-type2 #footerWrap { border-top:1px solid #351b6f; }
body.color-type2 #footerWrap .counselor .thumb { background-image:url("../images/common/img_counselor_yes.png"); }
body.color-type2 #footerWrap .counselor .info .phone:after { background-image:url("../images/common/ico_phone3.png") }
body.color-type2 #footerWrap .counselor .info .name { color:#ec008c; }

/* main */
body.color-type2 .counselor-area:before { background:#351b6f; }
body.color-type2 .counselor-area dt { color:#ec008c;}
body.color-type2 .counselor-area .counselor .thumb { background-image:url("../images/common/img_counselor_yes.png"); }
.loan-apply .pink, .btn-loan-apply .pink { display:block; }
.loan-apply .purple, .btn-loan-apply .purple { display:none; }
body.color-type2 .loan-apply .pink, body.color-type2 .btn-loan-apply .pink { display:none; }
body.color-type2 .loan-apply .purple, body.color-type2 .btn-loan-apply .purple { display:block; }


/* contents */
body.color-type2 .introduce-wrap .counselor { border-top:1px solid #351b6f; }
body.color-type2 .accordion li.active .category { color:#351b6f; border:1px solid #351b6f; }
body.color-type2 .accordion li.active .question-wrap .con { color:#351b6f; }
body.color-type2 .accordion li.active .question-wrap { background-image:url("../images/page/btn_minus2.png"); }

body.color-type2 .completed-wrap .application .bg-EC008C, body.color-type2 .unfair-wrap .manager-area .bg-EC008C { background-color:#351b6f; }
body.color-type2 .introduce-wrap .info-txt .color-EC008C { color:#351b6f; }

body.color-type2 .introduce-wrap .counselor .photo { background-image:url("../images/common/img_counselor_yes.png"); }


@media all and (min-width:768px) {
	.btn-multi-wrap [class*="btn-"] { width: auto; margin:0 5px;}
}


.agreeBtn { font-size: 2rem; background-color: #626C74; padding: 1% 5%; border-radius: 20px; color: #fff; }
.activeBtn { background-color: #EC008C; }

.check2 { 
	background: url(../images/common/btn_checkbox_off.png) no-repeat center left; background-size: 18px 18px; display: inline-block;
    padding: 0px;
    height: 18px;
    /* line-height: 18px; */
    line-height: 1;
    padding-left: 25px;
}

.check2 input, .radio input {position: absolute;left: -9999px;}
